@use '../base/settings';

.home-header {
  background-image: url("../../src/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header__navbar {
  padding: 30px 25px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar__logo {
    display: flex;
    align-items: center;
  }
}

.home-header__hero {
  text-align: center;

  & h1 {
    color: settings.$white;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 55px;
  }

  & .hero__arrow-down {
    margin-bottom: 135px;
  }
}